.navbar{
    width: 100%;
    height: 50px;
    background-color:beige;
    /* background-color: #d8d6d6; */
    display: flex;
    padding: 10px;
    
   
   
    
    align-items: center;
}
p{
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-left: 2%;
    color: rgb(255, 255, 255)
}