.sidebar {
  background: linear-gradient(-45deg, #f6ff81, #fff693, #ffbdbf, #ffe1e2);
  background-size: 400% 400%;
  animation: gradientBG 12s ease infinite;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.sidebar {
  width: 260px;
  height: auto; 
  background-color: #bbbbebb0;
  padding: 20px 16px;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.submenu {
  list-style: none;
  margin-left: 20px;
  font-size: 14px;
  cursor: pointer;
}

.submenu li {
  padding: 5px 0;
}

.submenu li:hover {
  text-decoration: underline;
}

.date-filter {
  margin: 10px 20px;
}
.date{
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:smaller;
  background-color: #ffffff;
}


.logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}
img{
  height: 50px;
  width: 80px;
      margin: 0 15px;
      opacity: 0.8;
}

.menu-section {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.menu-title {
  font-size: 12px;
  color: #888;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.menu-item {
  padding: 10px 14px;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
  transition: background 0.3s;
}

.menu-item:hover {
  background-color: #e0e7ff;
  color: #1d4ed8;
}

.menu-item.active {
  background-color: #1d4ed8;
  color: white;
  font-weight: bold;
}
.feature-box:hover{
  transform: scale(1.04);

}